@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Common.DataStructure.Province>
    @{
        ViewBag.Title = Resources.CommonComponent.ProvinceList;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle {@Resources.CommonComponent.ProvinceList }
    @section PageAction {
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Common/Province/Create")).Text(Resources.CommonComponent.ProvinceNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Render(); }
        </div>
    }
    @section PageActionDown {
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Common/Province/Create")).Text(Resources.CommonComponent.ProvinceNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Render(); }
        </div>
    }
    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(province => province.Title).Title(Resources.CommonComponent.Title).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(province => province.Country.Name).Title(Resources.CommonComponent.Country).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(province => "<a style='cursor: pointer;'  href=" + Url.Content("~/Common/province/Details") + "?Id=" + province.Id + "  > <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "'  src='" + Url.Content("~/Content/Images/details.png") + "' /></a> | <a style='cursor: pointer;'  href=" + Url.Content("~/Common/province/Edit") + "?Id=" + province.Id + " >  <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "'   src='" + Url.Content("~/Content/Images/edit.png") + "' /></a> | <a style='cursor: pointer;'  href=" + Url.Content("~/Common/province/Delete") + "?Id=" + province.Id + " > <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "'   src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' /></a>").Width(300).Encode(false);
          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}
