@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Common.Component
@model Radyn.EnterpriseNode.DataStructure.PrefixTitle
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{}
@section PageTitle{@Resources.Common.Edit}
@section PageAction {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/EnterpriseNode/PrefixTitle/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/EnterpriseNode/PrefixTitle/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="radynForm">
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.EnterPriseNode.Title
                    </div>
                </div>
                <div class="table-row-item table-fit ">
                    <div class="item">
                        @{
                            Html.LanguageContentTextBoxFor(Model, m => m.Title);
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
