<html>
<head>
    <title></title>
    <script type="text/javascript">

        function postRefId() {

            var form = document.createElement("form");
            var hiddenFieldMesage = document.createElement("input");
            var hiddenFieldRescode = document.createElement("input");
            var hiddenFieldrefId = document.createElement("input");
            var hiddenFieldSaleRefrence = document.createElement("input");
            hiddenFieldMesage.setAttribute("name", "merchantId");
            hiddenFieldMesage.setAttribute("Id", "merchantId");
            hiddenFieldMesage.setAttribute("value", '@ViewBag.merchantId');

            hiddenFieldRescode.setAttribute("name", "amount");
            hiddenFieldRescode.setAttribute("Id", "amount");
            hiddenFieldRescode.setAttribute("value", '@ViewBag.amount');

            hiddenFieldrefId.setAttribute("name", "revertURL");
            hiddenFieldrefId.setAttribute("Id", "revertURL");
            hiddenFieldrefId.setAttribute("value", '@ViewBag.revertURL');

            hiddenFieldSaleRefrence.setAttribute("Id", "paymentId");
            hiddenFieldSaleRefrence.setAttribute("name", "paymentId");
            hiddenFieldSaleRefrence.setAttribute("value", '@ViewBag.paymentId');

            form.appendChild(hiddenFieldRescode);
            form.appendChild(hiddenFieldMesage);
            form.appendChild(hiddenFieldrefId);
            form.appendChild(hiddenFieldSaleRefrence);
            form.setAttribute("method", "POST");
            form.setAttribute("action", "https://kica.shaparak.ir/epay/info");
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }

    </script>
</head>
<body>
    <script type="text/javascript">
            postRefId();
    </script>
</body>
</html>


