@using Radyn.Common.DataStructure
@using Radyn.Web.Mvc;
@model Language
@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}

@section PageTitle
{
   @Resources.Common.Detail

}
@section PageAction
{
    
<div class="button-div m-btn waves-red i-return">
    @{ Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Language").Area("Common").Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }

</div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-return">
    @{ Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Language").Area("Common").Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }

</div>
}
@using (Html.BeginForm())
{
    Html.RenderAction("GetDetail", "Language", new { Id = ViewBag.Id, area = "Common" });
}
