@using Radyn.Common.DataStructure
@using Radyn.Web.Mvc;
@model Language
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DivLanguageItem").html("");
            $.get("/Common/Language/GetModify", { Id: '@ViewBag.Id', date: new Date().getTime() }, function (data) {
                $("#DivLanguageItem").html(data).hide();
                $("#DivLanguageItem").slideDown();
            });
        });
    </script>
}

@section PageTitle
{
    @Resources.Common.Edit

}
@section PageAction
{
    <div class="button-div m-btn waves-green">
        <i class="fas fa-save"></i>
        @{ Html.Radyn().ImageActionLink().ActionName("Edit").ControllerName("Language").Area("Common").Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }

    </div>
    <div class="button-div m-btn waves-red">
        <i class="fas fa-undo-alt"></i>
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Language").Area("Common").Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green">
        <i class="fas fa-save"></i>
        @{ Html.Radyn().ImageActionLink().ActionName("Edit").ControllerName("Language").Area("Common").Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }

    </div>
    <div class="button-div m-btn waves-red">
        <i class="fas fa-undo-alt"></i>
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Language").Area("Common").Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}
@using (Html.BeginForm())
{
    <div id="DivLanguageItem"></div>
}
