@using Radyn.Web.Mvc
@using Radyn.Utility
@model IEnumerable<ReserveType>
@{
    ViewBag.Title = "Rezerv Türü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{}
@section PageTitle {@Resources.Reservation.ReserveTypeList }
@section PageAction{
    <div class="button-div m-btn i-save">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/ReserveType/Create?hotelId=" + ViewBag.HotelId + "")).Text(Resources.Reservation.OrderNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Hotel/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn i-save">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/ReserveType/Create?hotelId=" + ViewBag.HotelId + "")).Text(Resources.Reservation.OrderNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Hotel/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}

<div class="radynForm">

    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width: 98%; margin: 0auto" }).Columns(columns =>
        {
            columns.Template(x => x.Title).Title(Resources.Reservation.Title).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Template(x => x.Hotel.Name).Title(Resources.Reservation.HotelName).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Template(x => (x.Enabled ? Resources.Common.Enable : Resources.Common.Disable)).Title(Resources.Reservation.IsEnable).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Template(x => (x.IsDaily ? Resources.Common.Yes : Resources.Common.No)).Title(Resources.Reservation.IsDaily).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Template(x => x.StartTime).Title(Resources.Reservation.EntryTime).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Template(x => x.EndTime).Title(Resources.Reservation.ExitTime).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });

            columns.Template(order => "<a style='cursor: pointer;' href=" + Url.Content("~/Reservation/ReserveType/Details") + "?Id=" + order.Id + "  > <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "'  src='" + Url.Content("~/Content/Images/details.png") + "' /></a> |" +
            " <a href=" + Url.Content("~/Reservation/ReserveType/Edit") + "?Id=" + order.Id + " >  <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "'   src='" + Url.Content("~/Content/Images/edit.png") + "' /></a> | " +
            "<a href=" + Url.Content("~/Reservation/ReserveType/Delete") + "?Id=" + order.Id + " > <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "'   src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' /></a>").Width(100).Filterable(false).Encode(false);
        })
                                                              .Sortable(sorting => sorting.Enabled(true))
                                                              .Pageable(paging => paging.Enabled(true))
                                                              .Filterable(filtering => filtering.Enabled(true))
                                                              .Render();}

</div>
