<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="radyn">
      <section name="sessionState" type="Radyn.Web.Manager.SessionState, Radyn.Web" requirePermission="false" />
      <section name="log" type="Radyn.LogSettings,Radyn" requirePermission="false" />
      <section name="smtp" type="Radyn.Message.Tools.MailSetting, Radyn.Message, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
      <section name="language" type="Radyn.Common.Component.LanguageSetting, Radyn.Common, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
      <section name="GetWayInfo" type="Radyn.Payment.Tools.ModelView.TerminalInfo, Radyn.Payment, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
      <section name="congress" type="Radyn.Congress.Settings.CongressSetting, Radyn.Congress, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
      <section name="CongressScheduler" type="Radyn.Congress.Settings.JobSchedulerSetting, Radyn.Congress, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SecurityEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="EnterpriseNodeEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="FileManagerEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="CommentsEntities" connectionString="metadata=res://*/Model.Comments.csdl|res://*/Model.Comments.ssdl|res://*/Model.Comments.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdvertisementsEntities" connectionString="metadata=res://*/Model.Advertisement.csdl|res://*/Model.Advertisement.ssdl|res://*/Model.Advertisement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FAQEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="GalleryEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="LanguageEntities" connectionString="metadata=res://*/Model.Language.csdl|res://*/Model.Language.ssdl|res://*/Model.Language.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticleEntities" connectionString="metadata=res://*/Model.Article.csdl|res://*/Model.Article.ssdl|res://*/Model.Article.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="HelpEntities" connectionString="metadata=res://*/Model.Help.csdl|res://*/Model.Help.ssdl|res://*/Model.Help.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatEntities" connectionString="metadata=res://*/Model.Chat.csdl|res://*/Model.Chat.ssdl|res://*/Model.Chat.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NewsEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="ContentManagerEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="MessageEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="CongressEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="CalanderEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="StatisticEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;multipleactiveresultsets=True;" />
    <add name="PaymentEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;persist security info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="FormGeneratorEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="SliderEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <add name="ReservationEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;" />
    <add name="CrossPlatformEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;" />
    <add name="GraphicEntities" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;" />

  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HomaVersion" value="3.1.5" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="Contact" connectionStringName="ContactConnection" pollTime="1000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpRuntime executionTimeout="90" maxRequestLength="20000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="Radyn" loginUrl="~/Security/User/Login" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="host" password="8BMD1qUHoMMnwVGgfR4OAw==" />
          <!--<user name="admin" password="8BMD1qUHoMMnwVGgfR4OAw==" />-->
        </credentials>
      </forms>
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Radyn.WebApp.AppCode.Base" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.Mvc" publicKeyToken="29ac1a93ec063d92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.2.611.340" newVersion="2013.2.611.340" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.1505.0" newVersion="2013.1.1505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.1505.0" newVersion="2013.1.1505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Web" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.1505.0" newVersion="2013.1.1505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <radyn>
    <!--    <language defaultCulture="fa-IR" />-->
    <!--<log enabled="true" destination="DataBase" logPath="c:\radynLog" connectionString="Data Source=5.189.138.7;Initial Catalog=Homa_newControl;Persist Security Info=True;User ID=zareiii;Password=Abcd/1234;Max Pool Size=1000;MultipleActiveResultSets=True;" />-->
    <!--<log enabled="true" destination="DataBase" logPath="c:\radynLog" connectionString="Data Source=10.1.1.15;Initial Catalog=Homa_newControl;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=1000;MultipleActiveResultSets=True;" />-->
    <log enabled="true" destination="DataBase" logPath="c:\radynLog" connectionString="Data Source=(local);Initial Catalog=greenconf;Persist Security Info=True;User ID=sa;Password=r2co+1389;Max Pool Size=1000;MultipleActiveResultSets=True;" />
    <smtp mailHost="webmail.radyn.ir" mailPort="25" mailPassword="dksu3cQ_GIq" mailUserName="info@radyn.ir" mailFrom="info@radyn.ir" mailSenderDisplayName="test" enableSSL="false" />
    <sessionState timeout="25" />
    <GetWayInfo TerminalId="" UserName="" Password="" CertificatePath="" CertificatePassword="" />
    <!--    <congress key="siXJpBrRHcSaiUcprxvTlw=="/>-->
    <congress key="siXJpBrRHcSaiUcprxvTlw==" />
    <CongressScheduler>
      <dailySchedulerTriggers>
        <!--<add Id="1" class="DateChanged" hour="11" minute="33" />-->
      </dailySchedulerTriggers>
    </CongressScheduler>
  </radyn>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="merchantBinding">
          <security mode="Transport" />
        </binding>
        <binding name="merchantBinding1" />
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sayan.shaparak.ir/ws/payment/merchant.wsdl" binding="basicHttpBinding" bindingConfiguration="merchantBinding" contract="GhavaminGeteway.merchant" name="merchantBindingPort" />
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding" contract="ZarinPalService.PaymentGatewayImplementationServicePortType" name="PaymentGatewayImplementationServicePort" />
    </client>
  </system.serviceModel>
</configuration>