body, * {
    margin: 0;
    padding: 0;
    direction: rtl
}

a {
    text-decoration: none
}



.slide-show {
    margin: auto;
    height: 100%;
    position: relative;
    overflow: hidden
}

    .slide-show a.next-slide,
    .slide-show a.prev-slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 75px;
        background: transparent;
        border: none;
    }

    .slide-show a.prev-slide {
        left: auto;
        right: 0;
    }

.slide-show {
    display: block;
}

.slide-items-box.current img {
    width: 100%;
    height: 100%;
}

.slide-items-box {
    float: right;
    position: relative
}

    .slide-items-box:after {
        content: "";
        background-color: #000000;
        opacity: 0.55;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        float: right;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        position: absolute;
    }

.slide-items-box {
    position: absolute;
}



@keyframes bottom-to-top {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes go-top-to-bottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes go-bottom-to-top {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes top-to-bottom {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes left-to-right {
    from {
        left: -100%;
    }

    to {
        left: 0;
        display: block;
    }
}

@keyframes left-to-right-last {
    from {
        right: 0;
    }

    to {
        right: -100%;
        display: none
    }
}

@keyframes right-to-left {
    from {
        right: -100%;
    }

    to {
        right: 0;
        display: block;
    }
}

@keyframes right-to-left-last {
    from {
        left: 0;
    }

    to {
        left: -100%;
        display: none
    }
}

@keyframes span-come-right {
    0%, 30% {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes p-come-top {
    0%, 30% {
        transform: translateY(-250%);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes come-bottom {
    from {
        top: 100%
    }

    to {
        top: 0
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1)
    }
}



@keyframes times {
    0% {
        -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0 100%, 51% 100%, 100% 100%, 100% 100%, 100% 54%, 100% 0, 100% 0, 52% 0);
        clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0 100%, 51% 100%, 100% 100%, 100% 100%, 100% 54%, 100% 0, 100% 0, 52% 0);
    }
}

@keyframes clip-big {
    0% {
        -webkit-clip-path: polygon(0 30%, 26% 30%, 26% 0, 70% 0, 70% 30%, 100% 30%, 100% 76%, 71% 77%, 71% 100%, 26% 100%, 26% 76%, 0 76%);
        clip-path: polygon(0 30%, 26% 30%, 26% 0, 70% 0, 70% 30%, 100% 30%, 100% 76%, 71% 77%, 71% 100%, 26% 100%, 26% 76%, 0 76%);
    }

    100% {
        -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
        clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    }
}

@keyframes shadow {
    0% {
        box-shadow: inset 0 0 0 500px black
    }

    100% {
        box-shadow: none
    }
}

@keyframes rotate-box {
    0% {
        transform: rotate(-100deg)
    }

    50% {
    }

    100% {
        transform: rotate(0deg)
    }
}

.slide-items-box.current {
    height: 100%;
    width: 100%;
}


.slide-items-box.text-effect .content-slide {
    opacity: 1;
}

.slide-items-box.current .content-slide {
    position: absolute;
    z-index: 1;
    opacity: 1;
}


@media(max-width: 768px) {
    .slide-items-box.current .content-slide {
        top: 80%;
        height: 100%;
        transform: translateY(-50%);
    }
}

.r-slider-btn, .r-slider-btn:hover, .r-slider-btn:focus, .r-slider-btn:active {
    outline: none;
    opacity: 1;
}

.r-slider-btn {
    border: none;
    display: inline-block;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.37);
    padding: 9px 22px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    background: #fc0;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    transition: all .5s;
}

.current .r-slider-btn:hover {
    box-shadow: none
}

.r-slider-btn.btn-info:hover, .r-slider-btn.btn-info:active:focus {
    background: #333333;
    color: #fff;
}

.r-slider-btn.btn-info {
    background: #f5f5f5;
    color: #202020;
}

.r-slider-btn.btn-view:hover {
    background: #f5f5f5;
    color: #202020;
}

.lasts.slide-items-box .content-slide {
    opacity: 1;
    z-index: 1;
}

.slide-items-box .content-slide {
    position: absolute;
    opacity: 0;
    right: 0;
    padding: 14px;
    bottom: 0;
    margin: auto;
    left: 0;
    top: 0;
    width: 60%;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    direction: rtl;
    font-size: 19px;
}

.slide-items-box {
    display: none;
    z-index: 2
}

    .slide-items-box.current {
        display: block;
        opacity: 1;
        animation-name: fade;
        animation-duration: 2s;
        z-index: 3;
    }



    .slide-items-box.lasts {
        z-index: 2;
        display: block;
        opacity: 1;
    }



    .slide-items-box.current.left-to-right {
        animation-name: left-to-right;
    }


    .slide-items-box.current.bottom-to-top {
        animation-name: bottom-to-top;
    }

    .slide-items-box.current.top-to-bottom {
        animation-name: top-to-bottom;
    }

    .slide-items-box.lasts.top-to-bottom {
        animation: go-top-to-bottom 2s ease;
        transform: translateY(100%);
    }

    .slide-items-box.lasts.bottom-to-top {
        animation: go-bottom-to-top 2s ease;
        transform: translateY(-100%);
    }

    .slide-items-box.current.zoom-out {
        animation-name: zoom-out;
    }



    .slide-items-box.current.clip-big {
        animation-name: clip-big;
    }

    .slide-items-box.current.shadow {
        animation-name: shadow;
    }

    .slide-items-box.current.times {
        animation-name: times;
    }









    .slide-items-box.last.right-to-left {
        animation-name: right-to-left-last;
    }

    .slide-items-box.current.right-to-left {
        animation-name: right-to-left;
    }

.dot-slider {
    width: 100%;
    position: absolute;
    text-align: center;
    direction: rtl;
    bottom: 0;
    z-index: 4
}

.doted-item {
    width: 10px !important;
    margin: 7px 2px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(230, 230, 230, 0.5098039215686274);
    transition: all .5s;
}

    .doted-item:hover {
        background: #ececec
    }

    .doted-item.current-dot {
        background: rgba(255, 255, 255, 0.72);
    }


.slide-show .has-icon-slider.prev-slide, .slide-show .has-icon-slider.next-slide {
    z-index: 9;
    opacity: 0;
    color: #fff;
    font-size: 34px;
    border-radius: 50%;
    right: 16px;
    width: 50px;
    outline: none;
    height: 50px;
    transition: all .8s
}

.slide-show:hover .has-icon-slider.prev-slide, .slide-show:hover .has-icon-slider.next-slide {
    opacity: 1
}

.slide-show:hover .has-icon-slider.prev-slide {
    right: 17px;
}

.slide-show .has-icon-slider.prev-slide {
    left: auto;
    right: -50px;
}

.slide-show .dot-slider.auto_hidden {
    bottom: -100px;
    transition: all 1s;
}

.slide-show:hover .dot-slider.auto_hidden {
    bottom: 0px
}

.slide-show:hover .has-icon-slider.next-slide {
    left: 17px;
}

.slide-show .has-icon-slider.next-slide {
    right: auto;
    left: -50px;
}

.content-slide > span, .content-slide > div, .content-slide > div p {
    display: block;
    width: 100%;
    /*position: absolute;*/
}

.content-slide {
    overflow: hidden
}

    .content-slide > span {
        display: none
    }

.current .content-slide > span, .lasts .content-slide > span {
    display: block;
    line-height: 1.3;
    font-family: Lalezar;
    font-size: 40px;
    color: #fc0;
    -webkit-animation-name: span-come-right;
    animation-name: span-come-right;
    transform: translateX(0);
    -webkit-animation-duration: 2s;
    z-index: 2;
    text-align: center
}

.icon_play > img, .icon_pause > img {
    width: 20px !important;
    height: 50px;
    position: absolute;
    opacity: 1;
    z-index: 5
}


.content-slide > div p {
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
    color: #fff;
    line-height: 1.6;
    opacity: 1;
    -webkit-animation-duration: 4s;
    -webkit-animation-name: p-come-top;
    animation-name: p-come-top;
    transform: translateX(0);
    z-index: 2;
}

.content-slide > div {
    height: 50%;
    top: 75px;
    right: 0;
    overflow: hidden;
    z-index: 1;
}

    .content-slide > div.button-group {
        top: auto;
        bottom: 0;
        height: 63px;
        text-align: center;
        padding: 12px 0;
        animation-duration: 4s;
    }

        .content-slide > div.button-group input[type="button"] {
            margin: 0px 3px;
            animation-name: p-come-top;
            animation-duration: 5s;
        }

@media(min-width: 1500px) {
    .slide-items-box img {
        object-fit: cover;
    }

    .content-slide > div p {
        font-size: 26px;
    }

    .r-slider-btn {
        padding: 12px 29px;
        font-size: 22px;
    }

    .content-slide > div.button-group {
        height: 80px;
        padding: 0
    }

    .current .content-slide > span, .lasts .content-slide > span {
        font-size: 50px;
    }

    .content-slide > div {
        top: 95px;
    }

    .slide-items-box .content-slide {
        transform: none;
        top: 10%;
    }
}

@media(max-width: 1200px) {
    .slide-show, .slide-items-box img {
        width: 100% !important;
    }
}

@media(max-width: 992px) {
    .current .content-slide > span, .lasts .content-slide > span {
        font-size: 35px;
        margin-top: 60px;
    }

    .widget-wrap {
        margin: 0 0 40px 0;
    }

    .content-slide > div {
        top: 95px;
    }

    .slide-show, .slide-items-box img {
        width: auto !important;
        /* margin: auto auto 10px auto; */
    }


    .slide-items-box .content-slide {
        transform: none;
        top: 0
    }

    .content-slide > div {
        height: auto;
    }
}

@media(max-width: 768px) {
    .slide-show:hover .dot-slider.auto_hidden {
        bottom: 35px;
    }

    .slide-show .has-icon-slider.next-slide {
        left: -10px;
        bottom: 40px;
        height: auto;
        top: auto;
    }

    .slide-show .has-icon-slider.prev-slide {
        right: -10px;
        bottom: 40px;
        height: auto;
        top: auto;
    }

    .current .content-slide > span, .lasts .content-slide > span {
        font-size: 31px;
        line-height: 1.4;
        margin-top: 20px;
    }

    .content-slide > div p {
        font-size: 14px;
        line-height: 1.8;
        text-align: justify;
    }


    .slide-show .has-icon-slider.next-slide {
        left: -10px
    }

    .slide-show .has-icon-slider.prev-slide {
        right: 5px
    }



    .slide-show:hover .has-icon-slider.next-slide {
        left: 0;
    }

    .slide-show:hover .has-icon-slider.left-slide {
        right: -10px;
    }

    .r-slider-btn {
        padding: 7px 14px;
        font-size: 13px;
        margin: auto;
    }

    .slide-items-box .content-slide {
        transform: none
    }

    .slide-show, .slide-items-box img {
        width: 100% !important;
        height: 500px !important;
        object-fit: cover;
    }


    .slide-items-box {
        font-size: 12px;
        text-align: center;
        bottom: 33px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .doted-item {
        width: 10px;
        height: 10px;
        border-width: 1px;
    }

    .slide-show .has-icon-slider.prev-slide, .slide-show .has-icon-slider.next-slide {
        width: 28px;
        height: 30px;
        font-size: 25px;
    }

    .slide-items-box .content-slide {
        top: 5%;
    }

    .slide-items-box .content-slide {
        margin: 28px auto 5px auto;
    }
}

@media(max-width: 500px) {

    .current .content-slide > span, .lasts .content-slide > span {
        font-size: 24px;
        margin-top: 7px;
    }


    .slide-items-box .content-slide {
        width: 89%;
        top: 5%;
    }

    .slide-show, .slide-items-box img {
        width: 100% !important;
    }

    .content-slide > div p {
        font-size: 12px;
    }

    .content-slide > div {
        height: 33%;
        top: 60px;
    }

    .content-slide > .button-group {
        padding: 25px 0 !important;
    }

    .r-slider-btn {
        padding: 5px 10px;
        font-size: 12px;
    }
}

.full-screen, .full-screen .slide-items-box img, .full-screen .slide-items-box {
    width: 100% !important;
}

@media(max-width: 400px) {
}
