@import url('../../../AppCode/Fonts/Iransans/style.css');
@import url('../../../AppCode/Fonts/Vazir/stylesheet.css');

body {
    direction: rtl;
    font-family: Vazir
}

.head-site {
    background-color: #f05858;
    font-size: 13px;
    color: #ffffff;
    padding: 13px 0;
    border-bottom-color: #e5e5e5;
}

    .head-site strong {
        color: #292929;
    }

.r-nav,
.header {
    background-color: #fff;
}

.content-navigation-menu {
    display: inline-block;
    margin: auto
}

@media(min-width:992px) {
    .list-nav-content > li > a:active,
    .list-nav-content > li > a:active {
        background-color: transparent
    }

    .dropdown-li {
        padding: 0;
        border-radius: 3px;
        border-top: 3px solid #eb5756;
        top: 95%;
    }

    #accordian ul ul li a {
        width: auto;
        transition: all .3s ease;
        padding: 8px 15px 8px 115px !important;
        color: #4a4a4a;
        font-size: 14px;
    }

    .list-nav-content > li > ul > li {
        position: relative;
        background: #e8e8e8;
        border-bottom: 1px solid #c5c5c5;
    }

    .r-nav {
        text-align: center;
        box-shadow: 0 10px 50px -2px rgba(0, 0, 0, .14);
    }

    .logo-company {
        float: left;
    }

    .list-nav-content {
        float: right;
        width: auto;
    }

        .list-nav-content > li > a {
            padding: 39px 0px 34px 0;
        }

        .list-nav-content > li a span {
            font-size: 16px;
        }

        .list-nav-content > li {
            border-top: 3px solid #fff;
        }

    .list-nav-content {
        border-top: 1px solid #fff;
    }

        .list-nav-content > li:hover,
        .list-nav-content > li.active {
            border-top-color: #f05858;
        }

            .list-nav-content > li:hover > a > span,
            .list-nav-content > li.active > a > span {
                color: #f05858;
            }

    .sticky .logo-company {
        padding: 8px 15px;
    }
}

.logo-company img {
    width: 100px;
    object-fit: contain;
}

@media (min-width: 768px) {
    .content-navigation-menu {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .content-navigation-menu {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .content-navigation-menu {
        width: 1170px;
    }
}

.fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9686274509803922)
}

.innerhtml .menu-site.fix {
    position: inherit;
}

body.fixed-menu {
    padding-top: 80px !important;
}

.innerhtml body.fixed-menu {
    padding: 0 !important
}

.doted-item {
    border: 2px solid #e2e2e2;
    background: rgba(246, 246, 246, 0.58)
}

    .doted-item.current-dot,
    .doted-item:hover {
        background: rgba(78, 78, 78, 0.72);
    }

.current .content-slide > span,
.lasts .content-slide > span {
    color: #fff;
    background: #ec5757;
    font-family: Vazir;
    width: auto;
    display: inline-block;
    font-size: 40px;
    padding: 23px;
    border-radius: 15px
}

.slide-items-box {
    background-repeat: no-repeat;
    background-size: cover
}

.content-slide p {
    background: #ec5757;
    border-radius: 6px;
    display: inline-block !important;
    width: auto !important;
    font-size: 17px !important;
    padding: 6px 12px;
}

.slide-items-box:after {
    content: "";
    background-color: #000000;
    opacity: 0.2;
}

.current .content-slide > span,
.lasts .content-slide > span {
    -webkit-animation: fade-in-right 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.content-slide > div p {
    -webkit-animation: fade-in-right 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* animation */

.fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-10-30 15:9:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    85% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    85% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/* animation */

.fusion-flip-boxes .fusion-flip-box {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fusion-flip-boxes .fusion-flip-box {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .fusion-flip-boxes .fusion-flip-box .flip-box-inner-wrapper {
        position: relative;
        margin-bottom: 15px;
        -webkit-transform: translateZ(0);
    }

    .fusion-flip-boxes .fusion-flip-box .flip-box-back,
    .fusion-flip-boxes .fusion-flip-box .flip-box-front {
        -webkit-perspective: 600px;
        perspective: 600px;
        padding: 27px 20px;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
        -o-transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
        transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
    }

    .fusion-flip-boxes .fusion-flip-box .flip-box-front {
        background-color: rgb(246, 246, 246);
        border-color: rgba(255, 255, 255, 0);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: rgb(116, 116, 116);
        min-height: 255px;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        z-index: 10;
    }

    .fusion-flip-boxes .fusion-flip-box .flip-box-back,
    .fusion-flip-boxes .fusion-flip-box .flip-box-front {
        -webkit-perspective: 600px;
        perspective: 600px;
        padding: 27px 20px;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
        -o-transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
        transition: all .4s cubic-bezier(.2, .85, .4, 1.275) !important;
    }

    .fusion-flip-boxes .fusion-flip-box .flip-box-back {
        background-color: #3d3d3d;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        z-index: -1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .fusion-flip-boxes .fusion-flip-box:hover .flip-box-front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        z-index: -1;
    }

    .fusion-flip-boxes .fusion-flip-box:hover .flip-box-back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        z-index: 1;
    }

.flip-box-circle {
    background-color: #f44336;
    display: inline-block;
    padding: 13px;
    width: 60px;
    height: 61px;
    color: #fff;
    border-radius: 50%;
    font-size: 26px;
}

.flip-box-heading {
    font-size: 20px;
    font-weight: 600;
}

.head-sections p {
    color: #959595;
}

.head-sections {
    padding: 40px 0;
    float: right;
    width: 100%;
    display: inline-block;
}

    .head-sections > h2 {
        position: relative;
        padding: 5px;
        padding-right: 17px;
        font-size: 21px;
        font-weight: 600;
    }

        .head-sections > h2:after {
            content: "";
            background-color: #f44336;
            right: 0;
            height: 100%;
            width: 3px;
            position: absolute;
            top: 0;
        }

.flip-box-front-inner {
}

.flip-box-heading-back {
    font-size: 16px;
}

.fusion-separator {
    border-color: #f44336;
    border-top-width: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-service {
    padding: 70px 0;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #E2E2E2
}

.service-content-head {
    margin: 0;
    font-size: 22px;
    border-bottom: 3px solid #ec5757;
    font-weight: 600;
    padding-bottom: 20px;
}

.service-image img {
    max-width: 100%;
}

.section-service-content {
    padding: 0 15px;
}

    .section-service-content ul {
        float: right;
        padding: 15px 0;
    }

    .section-service-content li {
        float: right;
        font-size: 14px;
        width: 100%;
        padding: 1px 28px 18px 15px;
        position: relative;
        color: #6b6b6b;
    }

        .section-service-content li:before {
            content: "\f005";
            font-family: "Font Awesome 5 Pro";
            font-weight: 800;
            position: absolute;
            top: 0;
            right: 0;
        }

.counter-section {
    float: right;
    width: 100%;
    padding: 35px 0;
    text-align: center
}

.item-counter {
    float: right;
}

    .item-counter > div {
        border: 1px solid #000;
        padding: 16px;
        width: 100%;
        float: right;
        margin: 7px 0;
    }

        .item-counter > div span {
            width: 100%;
            float: right;
        }

        .item-counter > div p {
            padding: 10px 10px 10px 20px;
            margin: 0;
            width: calc(100% - 60px);
            font-size: 18px;
            float: left;
        }

        .item-counter > div svg {
            float: right;
            color: #5c5c5c;
            font-size: 50px;
        }


.contactus-content p {
    font-size: 15px;
    margin: 0 0 30px 0;
    display: inline-block;
    width: 100%;
}

.section-contactus .btn-orange {
    box-shadow: inset 0px 0px 0px 3px #f05959, inset 0px 0px 0px 5px #fff;
    border-radius: 6px;
    font-size: 17px;
}

    .section-contactus .btn-orange:hover {
        box-shadow: inset 0px 0px 0px 3px #FB7D82;
    }

.section-contactus {
    padding: 0 0 50px 0;
    float: right;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60% 31%;
}

@media(max-width: 992px) {
    .section-contactus {
        background-size: cover;
    }
}

.contactus-content {
    width: 100%;
    float: right;
    text-align: center;
}

.contactus-form {
    width: auto;
    background: #fff;
    display: inline-block;
    text-align: right;
    margin: auto;
    padding: 25px;
    border-radius: 14px;
}

    .contactus-form > div {
        margin-bottom: 15px;
    }

        .contactus-form > div > input[type="text"], .login-data-row input[type="text"], .login-data-row input[type="email"], .login-data-row textarea {
            width: 100%;
            border-radius: 3px;
            padding: 5px;
            border: 1px solid #d3d3d3;
        }

        .contactus-form > div > label, .login-data-row > div > label {
            float: right;
            width: 100%;
            font-weight: 400;
            color: #7d7d7d;
        }

.captcha-control > div {
    position: absolute;
    left: 0;
    top: 41px;
}

.captcha-control {
    position: relative
}

.contactUs {
    padding: 20px 60px 60px 60px;
    float: right;
    margin: 0;
    width: 100%;
}

.form-box .login-data-row {
    width: 50%;
    padding: 4px;
    min-height: 32px;
    margin-top: 13px;
    float: right;
}

.form-box {
    float: none;
    margin: 50px auto;
    display: inline-block;
}

    .form-box h2 {
        margin: 34px 0;
    }

    .form-box .login-data-row.full-width {
        width: 100%;
    }

.contactUs p {
    margin: 20px 0 40px 0 !important;
}

.login-data-row span {
    font-size: 13px;
    text-align: right;
    margin-bottom: 5px;
    display: inline-block;
    color: #909090;
    width: 100%;
}

.main-page.contactUs {
    padding: 0
}

.banner-box {
    display: none
}

.login-data-row label {
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.contactUs ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparent;
}

.contactUs ::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
}

.contactUs :-ms-input-placeholder { /* IE 10+ */
    color: transparent;
}

.contactUs :-moz-placeholder { /* Firefox 18- */
    color: transparent;
}

.btn-orange, .login-data-row-item input[type="submit"], .login-data-row-item input[type="button"] {
    background-color: #F05959;
    border: none;
    color: #fff !important;
    padding: 12px 30px;
    transition: all .3s ease-in-out;
}

.login-data-row-item input[type="button"] {
    margin: 10px 5px;
}

.login-data-row-item input[type="submit"] {
    margin: 10px 0 40px 0;
}

    .btn-orange:hover,
    .btn-orange:active,
    .btn-orange:focus,
    .btn-orange:focus:hover,
    .login-data-row-item input[type="submit"]:hover,
    .login-data-row-item input[type="submit"]:active,
    .login-data-row-item input[type="submit"]:focus,
    .login-data-row-item input[type="submit"]:focus:hover {
        color: #fff !important;
        background-color: #FB7D82;
    }

.section-steps {
    float: right;
    padding: 0 0 20px 0;
    width: 100%;
}

    .section-steps .row > div {
        text-align: center
    }

.item-step-head > span {
    display: inline-block;
    float: right;
    font-family: Arial;
    background: #000;
    font-weight: 700;
    color: #fff;
    width: 37px;
    font-size: 27px;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    height: 37px;
}

.section-steps img {
    width: 100%;
    /* height: 80px; */
    object-fit: cover;
    margin: -20px 0 20px 0;
}

.item-step {
    float: right;
    width: 100%;
    padding: 15px 0
}

.item-step-head h4 {
    float: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.item-step ul {
    text-align: right;
    list-style: disc;
    padding: 0 20px;
}

.item-step-content p {
    text-align: justify;
    color: #7a7a7a;
    line-height: 1.5;
}

.item-step-content {
    float: right;
    width: 100%;
    margin-top: 12px;
    padding-top: 15px;
    border-top: 3px solid #f44336;
}

    .item-step-content p {
        text-align: justify
    }

@media(max-width: 768px) {
    .item-step {
        float: right;
        width: 100%;
        padding: 0px 0 88px 0;
    }
}

.section-history {
    width: 100%;
    background-image: url('/RadynFileHandler/e14fb89e-b517-43e8-8931-25e9771d9f60');
    float: right;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-column-color h5,
.head-column-color,
.head-column-color svg,
.content-column-color,
.column-color {
    display: inline-block;
    float: right;
}

.column-color {
    padding: 0 10px;
}

.head-column-color {
    color: #fff;
    padding: 9px 20px;
    width: 100%;
    background-color: #F05959;
    border-radius: 10px;
}

    .head-column-color svg {
        margin: 8px 0 0 20px;
        font-size: 20px;
    }

    .head-column-color h5 {
        font-size: 18px;
        font-weight: 400;
    }

.content-column-color p {
    margin-bottom: 40px;
    line-height: 1.7;
    color: #787878;
    text-align: justify
}

.content-column-color {
    text-align: center;
    padding: 20px 0;
}

.section-feedback h4 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 44px;
}

.section-feedback {
    float: right;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 40px 0;
}

.social-media-box {
    text-align: center;
}

    .social-media-box img {
        width: 80px;
        height: 80px;
        margin: 20px 0px;
    }

.section-content {
    float: right;
    width: 100%;
    padding: 40px 0
}

    .section-content .accordion,
    .section-content .accordion-tab {
        color: #434343;
        cursor: pointer;
        font-weight: 800;
        width: 49%;
        text-align: center;
        outline: none;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.4s ease;
        box-sizing: content-box;
        margin: 0;
        background-color: #ebeaea;
        border: none;
        padding: 16px 0px;
        border-top: 3px solid #ebeaea;
        border-right: 1px solid #fff;
    }

        .section-content .accordion-tab.active {
            background-color: #fff;
            border-top-color: #F05959;
        }

    .section-content .panel-content {
        width: 100%;
        float: right;
        text-align: justify;
        line-height: 1.7;
        color: #797979;
        padding: 15px 20px;
        display: none;
        transition: max-height 0.2s ease-out;
    }

    .section-content .tab-box-head {
        float: right;
        width: 100%;
        display: flex;
        background: #fff;
    }

    .section-content .tab-box {
        float: right;
        width: 100%;
        border: 1px solid #e8e8e8
    }

@media(max-width: 768px) {
    .section-content .tab-box {
        margin-bottom: 40px;
    }
}

.item-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.item-content p {
    text-align: justify;
    line-height: 1.7;
    color: #797979;
}

.item-content {
    float: right;
    width: 100%;
    margin-bottom: 60px;
}

.Onava-theme a,
.Onava-theme a:hover {
    color: #f05959;
}

.separator-icon span {
    position: absolute;
    top: -11px;
    left: 0;
    padding: 2px;
    right: 0;
    text-align: center;
    border-radius: 50%;
    color: #f05959;
    width: 26px;
    height: 25px;
    font-size: 15px;
    margin: auto;
    display: inline-block;
    background: #fff;
    border: 1px solid #e67979;
}

.separator-icon {
    position: relative;
    width: 100%;
    float: right;
    height: 2px;
    margin: 18px 0;
    background: #f05959;
}

.reading-section {
    float: right;
    width: 100%;
    background-image: url('/RadynFileHandler/e14fb89e-b517-43e8-8931-25e9771d9f60');
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #ddd
}

.reading-box > div {
    float: right;
    width: calc(100% - 200px);
}

@media(max-width: 768px) {
    .reading-box {
        text-align: center
    }

        .reading-box > div {
            width: 100%;
            text-align: right;
        }



    .btn-orange.btn-orange-big {
        float: none;
        margin: 15px 0 0 0;
        display: inline-block;
    }
}

.reading-box h4,
.reading-box p {
    display: inline-block;
    float: right;
    width: 100%;
}

.reading-box h4 {
    font-size: 19px;
}

.reading-box p {
    color: #8e8e8e;
}

.reading-row {
    float: right;
    width: 100%;
    background: #f0f0f0;
    padding: 22px;
    border: 1px solid #c7c7c7;
    border-right: 3px solid #f05959;
}

.btn-orange-big {
    float: left;
    padding: 18px 37px 15px 37px;
    box-shadow: inset 0px 1px 0px #ffffff, 0px 5px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 5px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    transition: all .1s ease;
    -moz-box-shadow: inset 0px 1px 0px #ffffff, 0px 5px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
}

    .btn-orange-big:hover {
        font-weight: 400;
    }

    .btn-orange-big:active {
        font-weight: 400;
        box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #ef0e0e, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(10px)
    }

.most-view-section {
    border-top: 1px solid #ddd;
    padding: 45px 0;
    background-color: #fff;
    float: right;
    width: 100%;
}

    .most-view-section h4 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .most-view-section li {
        position: relative;
        padding: 7px 35px 13px 0;
        font-size: 14px;
    }

        .most-view-section li a {
            font-weight: 500
        }

        .most-view-section li:before {
            color: #ef0e0e;
            content: "\f058";
            font-family: "Font Awesome 5 Pro";
            font-weight: 800;
            position: absolute;
            top: 0;
            font-size: 23px;
            right: 0;
        }

@media(min-width:1200px) {
    .most-view-section .row > div {
        width: 20%;
    }
}

.footer-site a {
    color: #c5c5c5;
    font-weight: normal;
    font-size: 13px;
    position: relative;
}

.footer-site p {
    line-height: 1.6;
    text-align: justify;
    padding: 13px 4px;
}

.footer-site li a:before {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    position: absolute;
    top: 6px;
    right: -18px;
    color: #838383;
    font-size: 9px;
}

.footer-bottom p {
    text-align: center;
}

.footer-bottom {
    border-top: 2px solid #676767;
    margin-top: 60px;
    background: #2e2e2e;
    color: #c6c6c6;
    padding: 20px 0 6px 0;
}

    .footer-bottom p a img {
        width: 50px;
    }

    .footer-bottom:hover p a {
        font-weight: 900;
    }

        .footer-bottom:hover p a img {
            -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation-iteration-count: 1;
        }

.footer-site h4 {
    color: #dedede;
    font-size: 19px;
    font-weight: 600;
    padding: 40px 10px 10px 10px;
}

.footer-site li {
    padding: 12px 25px 11px 0;
    border-bottom: 1px solid #5a5a5a;
}

    .footer-site li a,
    .footer-site li a:before {
        transition: all .3s ease
    }

    .footer-site li:hover a,
    .footer-site li:hover a:before {
        color: #f05959
    }

.footer-site {
    background-color: #363839;
    float: right;
    width: 100%;
    color: #8c8989
}

.telegram-icon svg, .facebook-icon svg, .instagram-icon svg {
    width: 1em !important;
}

.telegram-icon, .facebook-icon, .instagram-icon {
    font-size: 21px !important;
    border-radius: 50%;
    background: #0e79af;
    display: inline-block;
    margin-left: 3px;
    /* width: 38px; */
    color: #fff !important;
    padding: 3px 8px;
}

.facebook-icon {
    background: #375f98
}

.instagram-icon {
    background: #ac48c0
}

.telegram-icon {
    background: #2ca5e0;
}

    .telegram-icon:before, .facebook-icon:before, .instagram-icon:before {
        display: none
    }

.rotate-hor-center {
    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-10-31 14:25:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.user-feedback .owl-nav {
    display: none
}

.user-feedback.owl-theme .owl-dots .owl-dot.active span, .user-feedback.owl-theme .owl-dots .owl-dot:hover span {
    background: #838383;
}

.user-feedback.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
    background: #ffffff;
    border: 1px solid #7d7d7d;
    transition: all .3s ease-in-out
}

.user-feedback .item span {
    float: right;
    margin: 40px 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
    color: #8a8a8a;
    font-weight: 500;
}

.user-feedback p:after {
    top: 0;
    right: 44%;
    margin: auto;
    left: 50%;
    position: absolute;
    content: url(/RadynFileHandler/36420d1d-a2d6-41c2-9a2c-03030177c8fb);
}

.user-feedback p {
    padding-top: 100px;
    font-size: 17px;
    color: #6f6f6f;
    position: relative;
    letter-spacing: 2px;
    font-style: italic;
    text-align: justify;
}
/* Login Page */
.login-avatar {
    display: none
}

.user-layout .header {
    padding: 0 !important
}

.ui-content-nav, .ui-content-nav .main-page {
    float: right;
    width: 100%;
    /* padding: 0 10px; */
}

.text-header h3 {
    padding: 0 14px 60px 14px;
    margin: 0;
    min-height: 350px;
    font-size: 33px;
    display: grid;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.ui-content-nav {
    background: #eaeaea;
}

    .ui-content-nav .main-page {
        text-align: center;
        float: none;
        margin: auto;
        background: #fff;
    }

.internal-page-content p {
    margin: 0
}

.internal-page-head .text-header {
    display: none
}

.text-header-cover {
    background-position: center;
    background-size: cover;
    background-image: url("/RadynFileHandler/2dd7e65e-7441-45ca-be56-603f41d156d5");
}

.content-post-box {
    padding: 20px 100px;
}

    .content-post-box > div {
        padding: 60px;
        background: #fff;
        border-radius: 6px;
        font-size: 15px;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
        transform: translateY(-109px);
        line-height: 1.8;
        text-align: justify;
        direction: rtl;
    }

    .content-post-box .normal-text {
        direction: rtl !important;
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
    }

.ui-content-nav .main-page .container-hd {
    display: inline-block;
    padding: 0 15px;
    margin: auto
}

@media (min-width: 768px) {
    .ui-content-nav .main-page {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .r-collapse {
        display: none !important
    }

    .ui-content-nav .main-page {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .ui-content-nav .main-page {
        width: 1170px;
    }
}

.login-header, .login-container {
    float: right;
    width: 100%;
    text-align: right
}

    .login-header p {
        position: relative;
        margin: 0;
        display: inline-block;
        font-size: 22px;
        padding: 12px 0;
        margin: 50px 0;
        font-weight: 600;
    }

        .login-header p:after {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: #9a9a9a;
            content: '';
        }

.login-data-row-item, .input-row, .login-data-row-item label {
    width: 100%;
    float: right
}

    .login-data-row-item label {
        font-size: 15px;
        margin: 14px 0 5px 0;
        color: #717171;
    }

.container-box input[type="text"], .container-box input[type="password"], .container-box input[type="email"] {
    border: 1px solid #d1d1d1;
    padding: 8px 11px;
    margin: 4px 0;
    border-radius: 3px;
    width: 100%;
    min-width: 300px;
}

.full-width {
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.ui-content-nav > .row {
    margin: 0
}
/* Login Page */

/* category-item-list */
.category-item-list {
    padding: 0;
    border-radius: 9px;
    overflow: hidden;
    border: 2px solid #3593e7;
}

    .category-item-list span {
        transform: translateY(100%);
        transition: all .3s ease;
        position: absolute;
        bottom: 0;
        background: rgba(23, 23, 23, 0.73);
        right: 0;
        color: #ededed;
        font-weight: 700;
        left: -1px;
        padding: 16px;
        font-size: 17px;
    }

    .category-item-list:hover span {
        transform: translateY(0);
    }

    .category-item-list img {
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 9px;
        object-fit: cover;
        transition: all .1s ease-in-out;
    }

    .category-item-list:hover img {
        filter: blur(4px);
    }

@media (min-width: 992px) {
    .category-item-list {
        width: 25%;
        height: 290px;
    }
}

@media (min-width: 1200px) {
    .category-item-list {
        margin: 1%;
        width: 22%;
        height: 290px;
        position: relative;
    }
}


/* category-item-list */
/* article-item */
.article-item {
    width: 50%;
    float: right;
    clear: right
}

.article-item-image img {
    width: 100%;
    object-fit: cover;
}

.internal-page-content > .row > .article-item:nth-child(even) {
    float: left;
    clear: left
}

    .internal-page-content > .row > .article-item:nth-child(even) > .article-item-content {
        float: left
    }

.article-item-content p {
    text-align: justify;
    margin: 0 25px;
    padding-top: 10px;
    color: #8c8c8c;
    border-top: 1px solid #d6d6d6;
}

.article-item-content h3 {
    margin: 14px 25px 7px 25px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d6d6d6;
    text-align: right;
    min-height: 71px;
    display: grid;
    align-items: center;
    position: relative;
    line-height: 1.5;
}

    .article-item-content h3 a {
        font-size: 17px;
        text-align: justify;
        font-weight: 600;
        color: #3591e5;
    }

.article-item-content {
    width: 65%;
    border: 1px solid #e7e7e7;
}

.article-box-line {
    padding-top: 125px;
    position: relative
}

    .article-box-line:before {
        content: "\f15c";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 78px;
        right: 0;
        width: auto;
        font-weight: 300;
        color: #d6d6d6;
        margin: auto;
        font-family: "Font Awesome 5 Pro";
        display: inline-block;
    }

    .article-box-line:after {
        content: "";
        width: 2px;
        background-color: #e7e7e7;
        height: calc(100% - 113px);
        position: absolute;
        top: 102px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .article-box-line .row > .article-item .article-item-content {
        position: relative
    }

    .article-box-line .row > .article-item:nth-child(odd) h3:before, .article-box-line .row > .article-item:nth-child(even) h3:before {
        position: absolute;
        bottom: 50%;
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 7px;
        background-color: #e7e7e7;
    }

    .article-box-line .row > .article-item:nth-child(odd) h3:before {
        left: -241px;
    }

    .article-box-line .row > .article-item:nth-child(even) h3:before {
        right: -241px;
    }

    .article-box-line .row > .article-item:nth-child(odd) h3:after, .article-box-line .row > .article-item:nth-child(even) h3:after {
        position: absolute;
        font-weight: 800;
        font-size: 38px;
        bottom: 18%;
        color: #e7e7e7;
        left: -39px;
        font-family: "Font Awesome 5 Pro";
    }

    .article-box-line .row > .article-item:nth-child(odd) h3:after {
        content: "\f0d9";
    }

    .article-box-line .row > .article-item:nth-child(even) h3:after {
        left: auto;
        right: -39px;
        content: "\f0da";
    }

    .article-box-line .row-button {
        padding: 15px;
        text-align: right;
    }

        .article-box-line .row-button a {
            position: relative;
            padding: 0 20px;
            font-size: 13px;
            font-weight: 500;
            color: #3593e7;
        }

            .article-box-line .row-button a:after {
                position: absolute;
                content: "\f053";
                right: 9px;
                top: 5px;
                /* font-size: 2px; */
                font-size: 9px;
                font-weight: 800;
                font-family: "Font Awesome 5 Pro";
            }

.title-page h4 {
    display: none;
}

@media(max-width: 1200px) {
    .article-box-line .row > .article-item:nth-child(odd) h3:before {
        left: -206px;
    }

    .article-box-line .row > .article-item:nth-child(even) h3:before {
        right: -206px;
    }
}


@media(max-width: 992px) {
    .article-item-content {
        width: 88%;
    }

    .article-box-line .row > .article-item:nth-child(odd) h3:before {
        left: -89px;
    }

    .article-box-line .row > .article-item:nth-child(even) h3:before {
        right: -89px;
    }
}

@media(max-width: 768px) {
    .article-box-line .row > .article-item h3:before, .article-box-line .row > .article-item h3:after, .article-box-line:after {
        display: none
    }

    .article-item-content {
        width: 100%;
    }

    .article-item {
        width: calc(100% - 200px);
        float: none !important;
        margin: 15px auto;
    }

    .article-item-image img {
        height: 230px;
    }
}

@media(max-width: 620px) {
    .article-item {
        width: calc(100% - 150px);
    }
}

@media(max-width: 550px) {
    .article-item {
        width: 80%;
    }
}

@media(max-width: 450px) {
    .article-item {
        width: 100%;
    }
}

.news-content-text {
    padding: 50px 0;
    text-align: center
}

.category-name a, .aside-news-item-content li span a {
    color: #fff !important
}

.aside-news-item {
    text-align: right
}

.category-name, .aside-news-item-content li span a {
    background: rgba(53, 145, 228, 0.7803921568627451);
    display: inline-block;
    color: #fff;
    padding: 4px 10px;
    margin: 5px;
    border-radius: 5px;
}

.article-box-head h1 {
    text-align: center;
    font-size: 25px;
    margin: 41px;
}

.article-box-lead {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
}

.article-text {
    text-align: justify;
    color: #7e7e7e;
    font-size: 16px;
    float: right;
    line-height: 1.6;
    padding: 20px 10px;
}

.news-content {
    margin: auto;
}

.news-content-text img {
    height: 250px;
    max-width: 100%;
    object-fit: cover;
}
/* article-item */
.ul-arrow-icon {
    display: inline-block;
    text-align: right;
}

    .ul-arrow-icon ul {
        padding: 5px 40px
    }

    .ul-arrow-icon li {
        position: relative;
        padding: 0 14px;
    }

        .ul-arrow-icon li:before {
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            content: "\f053";
            right: 0px;
            font-size: 10px;
            top: 3px;
        }

.r-collapse {
    background: #f05858;
    border: 2px solid #f05858;
}

@media(max-width: 992px) {
    .dropdown-li > li:hover > a span, .dropdown-li > li:hover > a .img-nav svg, .dropdown-li > li:hover > a ~ .icon-upper, .list-nav-content > li:hover > a ~ svg, .list-nav-content > li:hover > a *, .list-nav-content > li > a * {
        color: #f05858 !important;
        transition: all .3s;
    }

    .navigation-menu.open-nav .list-nav-content li:hover > a > span {
        color: #f05858 !important;
    }
}

.list-nav-content > li .dropdown-li a span:before {
    display: none !important;
}

.internal-page-content ul {
    list-style: disc;
    color: #838383;
    padding: 6px 20px;
}

.internal-page-content h5 {
    padding: 6px 0;
    font-size: 16px;
    font-weight: 700;
}

.content-post-box p {
    direction: rtl !important;
    width: 100%;
    color: #838383;
    margin-bottom: 20px;
    display: inline-block;
}

.content-post-box > div > img {
    max-width: 100%;
    margin: 22px auto;
    display: inherit;
}

.step-action h2 {
    font-size: 21px;
}

.step-row {
    padding: 50px 50px 0px 50px;
}

.mapouter {
    display: none
}

.step-row .step-action > span {
    position: relative;
    width: 100%;
    float: right;
    height: 100px;
    text-align: center;
}

    .step-row .step-action > span img {
        display: none;
    }

    .step-row .step-action > span:after {
        position: absolute;
        font-size: 52px;
        color: #f05858;
        left: 0;
        font-weight: 300;
        content: "\f1fa";
        font-family: "Font Awesome 5 Pro";
        right: 0;
    }

.step-row > .step-action:first-child > span:after {
    content: "\f095";
}

.step-row .step-action.second > span:after {
    content: "\f1fa";
}

.step-row .step-action:last-child > span:after {
    content: "\f3c5";
}

.row-edit {
    position: relative
}

.innerhtml .fgitem:hover {
    display: block
}

.content-navigation-menu {
    background: #fff;
    padding-bottom: 0;
}
