@using Radyn.News.DataStructure
@using Radyn.News.Tools
@using Radyn.Utility
@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Security

@model IEnumerable<News>
    @{
        ViewBag.Title = @Resources.Common.List + " " + @Resources.News.NewsNews;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.Common.List @Resources.News.NewsNews
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("News").Area("News").Text(Resources.Common.Create).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>

    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("News").Area("News").Text(Resources.Common.Create).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }

    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(news => news.GetNewsContent(SessionParameters.Culture).Title1).Title(Resources.News.NewsContentTitle1).Width(350).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(news => news.PublishDate).Title(Resources.News.NewsPublishDate).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(news => news.PublishTime).Title(Resources.News.NewsPublishTime).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(news => news.NewsCategory.Title).Title(Resources.News.NewsNewsCategoryId).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(news => news.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(Resources.News.NewsEnabled).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(news => news.GetComment ? Resources.Common.Enable : Resources.Common.Disable).Title("کامنت").Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(resource =>
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/News/News/Details?Id=" + resource.Id) + "'>" +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/News/News/Edit?Id=" + resource.Id) + "'> " +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a>  ").Width(300).Filterable(false).Encode(false);

          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}

