@{
    ViewBag.Title = Resources.WebDesign.HomePage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
<div class="gv-table" style="width: 642px;">
    <div class="gv-row gv-header">
        <div style="width: 100px;" class="gv-cell ">
            <div class="cell-item">
                هدر1

            </div>
        </div>
        <div style="width: 150px;" class="gv-cell ">
            <div class="cell-item">
                هدر2

            </div>
        </div>
        <div style="width: 120px;" class="gv-cell ">
            <div class="cell-item">
                3هدر

            </div>
        </div>
        <div style="width: 140px;" class="gv-cell ">
            <div class="cell-item">
                هدر4

            </div>
        </div>
        <div style="width: 110px;" class="gv-cell gv-cell-last">
            <div class="cell-item">
                هدر5
              
            </div>
        </div>
        <div style="width: 17px;" class="gv-cell gv-cell-last">
            <div class="cell-item">
            </div>
        </div>
    </div>
    <div class="gv-content">
        <div class="gv-row gv-row-style">

            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف اول 5

                </div>
            </div>

        </div>
        <div class="gv-row gv-alternaterow-style">
            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف دوم 5

                </div>
            </div>
        </div>
        <div class="gv-row gv-row-style">

            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف اول 5

                </div>
            </div>

        </div>
        <div class="gv-row gv-alternaterow-style">
            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف دوم 5

                </div>
            </div>
        </div>
        <div class="gv-row gv-row-style">

            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 3  ردیف اول 3  ردیف اول 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف اول 5

                </div>
            </div>

        </div>
        <div class="gv-row gv-alternaterow-style">
            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف دوم 5

                </div>
            </div>
        </div>
        <div class="gv-row gv-row-style">

            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف اول 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف اول 5

                </div>
            </div>

        </div>
        <div class="gv-row gv-alternaterow-style">
            <div style="width: 100px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 1

                </div>
            </div>
            <div style="width: 150px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 2

                </div>
            </div>
            <div style="width: 120px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 3  

                </div>
            </div>
            <div style="width: 140px;" class="gv-cell ">
                <div class="cell-item">
                    ردیف دوم 4

                </div>
            </div>
            <div style="width: 110px;" class="gv-cell gv-cell-last">
                <div class="cell-item">
                    ردیف دوم 5

                </div>
            </div>
        </div>
    </div>
    <div class="gv-row  gv-footer">
        <div class="gv-status">
            <a href="#" class=" gv-icon gv-refresh">&nbsp;</a>
        </div>
        <div class="gv-pager">
            <a class="gv-link" href="#">
                <span class="gv-icon gv-arrow-first"></span>
            </a>
            <a class="gv-link" href="#">
                <span class="gv-icon gv-arrow-prev"></span>
            </a>
            <ul class="gv-numeric">
                <li>
                    <a href="/">1</a>
                </li>
                <li id="active">
                    <a href="/">2</a>
                </li>
                <li>
                    <a href="/">33</a>
                </li>
                <li>
                    <a href="/">44</a>
                </li>
                <li>
                    <a href="/">5</a>
                </li>
            </ul>
            <a class="gv-link" href="#">
                <span class="gv-icon gv-arrow-next"></span>
            </a>
            <a class="gv-link" href="#">
                <span class="gv-icon gv-arrow-last"></span>
            </a>
        </div>
    </div>
</div>
