@model Radyn.FormGenerator.ControlFactory.Validator.RequiredFieldValidator
@Html.ValidationSummary(true)

<div>
    @{
        Html.RenderAction("GetValidatorControl", "ValidatorControls", new { Id = ViewBag.Id, jsonvalue = ViewBag.jsonvalue });
    }
</div>
