<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITokens">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ITokens1" />
                <binding name="BasicHttpBinding_IVerify">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVerify1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens"
                contract="IranKishToken.ITokens" name="BasicHttpBinding_ITokens" />
            <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify"
                contract="IranKishVerify.IVerify" name="BasicHttpBinding_IVerify" />
        </client>
    </system.serviceModel>
</configuration>