<html>
    <head>
        <title></title>
        <script type="text/javascript">

            function postRefId(data) {

                var form = document.createElement("form");
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("name", "RefId");
                hiddenField.setAttribute("Id", "RefId");
                hiddenField.setAttribute("value", data);
                form.appendChild(hiddenField);
                form.setAttribute("method", "POST");
                form.setAttribute("action", "https://bpm.shaparak.ir/pgwchannel/startpay.mellat");
                form.setAttribute("target", "_self");
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
            }

        </script>
    </head>
<body>
    <script type="text/javascript">
        postRefId('@ViewBag.refId');
    </script>
</body>
</html>


