@using Radyn.Web.Mvc

@{Html.Radyn().Theme("LookUpBase").Render();}
@{Html.Radyn().Theme("Common").Render();}

<div class="ui-sheet ui-design">
   
    
    <div class="ui-content-nav">
        <div class="row">
            <div class="main-page">
                @RenderBody()
            </div>
        </div>
    </div>
  
</div>





















