@model IEnumerable<Radyn.ContentManager.DataStructure.Content>
@{
    ViewBag.Title = Resources.Common.Search;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head{}
<div class="container-hd">
    <div class="container-header">
        <div class="container-header-item">
            @TempData["caption"]
        </div>
    </div>
    <div class="container-box">
        @foreach (var content in Model)
        {
            <a href="@content.Link">@content.Title</a>
        }
    </div>
</div>

