<html>
<head>
    <title></title>
    <script type="text/javascript">

        function postRefId() {

            var form = document.createElement("form");

            var hiddenPaymentTicket = document.createElement("input");
            var hiddenAmount = document.createElement("input");
            var hiddenPaymentId = document.createElement("input");
            var hiddenRevertURL = document.createElement("input");

            hiddenPaymentTicket.setAttribute("name", "paymentTicket");
            hiddenPaymentTicket.setAttribute("Id", "paymentTicket");
            hiddenPaymentTicket.setAttribute("value", '@ViewBag.paymentTicket');

            hiddenAmount.setAttribute("name", "amount");
            hiddenAmount.setAttribute("Id", "amount");
            hiddenAmount.setAttribute("value", '@ViewBag.amount');

            hiddenPaymentId.setAttribute("name", "paymenURL");
            hiddenPaymentId.setAttribute("Id", "paymenURL");
            hiddenPaymentId.setAttribute("value", '@ViewBag.paymentId');

            hiddenRevertURL.setAttribute("Id", "revertURL");
            hiddenRevertURL.setAttribute("name", "revertURL");
            hiddenRevertURL.setAttribute("value", '@ViewBag.revertURL');

            form.appendChild(hiddenPaymentTicket);
            form.appendChild(hiddenAmount);
            form.appendChild(hiddenPaymentId);
            form.appendChild(hiddenRevertURL);
            form.setAttribute("method", "POST");
            form.setAttribute("action", "https://sayan.shaparak.ir/epay/info");
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }

    </script>
</head>
<body>
    <script type="text/javascript">
            postRefId();
    </script>
</body>
</html>
