@using Radyn.Web.Mvc;
@model Radyn.Payment.DataStructure.DiscountType
@{
    ViewBag.Title = Resources.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.Delete

}
@section PageAction
{
    <div class="button-div m-btn waves-red i-delete">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Delete).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Payment/WebDesignDiscountType/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown{
    <div class="button-div m-btn waves-red i-delete">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Delete).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().ImageWidth("15").Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Payment/WebDesignDiscountType/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
<div class="radynForm">
    @{
        Html.RenderAction("GetDetails", "DiscountType", new { Id = ViewBag.Id, area = "Payment" });
    }

    @{
        Html.RenderAction("GenerateDiscountSection", "WebDesignDiscountType", new { Id = ViewBag.Id, Readonly = true, area = "Payment" });
    }
</div>


