@using Radyn.Web.Mvc;
@using Radyn.Utility
@{
    ViewBag.Title = Resources.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
}
@section PageTitle
{
    @Resources.Common.Delete
}
@section PageAction
{
    <div class="button-div m-btn waves-red">
        <i class="fas fa-times"></i>
        @{ Html.Radyn().ImageActionLink().ActionName("Delete").ControllerName("WebDesignGallery").Area("Gallery").Text(Resources.Common.Delete).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebDesignGallery").Area("Gallery").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-red">
        <i class="fas fa-times"></i>
        @{ Html.Radyn().ImageActionLink().ActionName("Delete").ControllerName("WebDesignGallery").Area("Gallery").Text(Resources.Common.Delete).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-red">
        <i class="fas fa-undo-alt"></i>
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebDesignGallery").Area("Gallery").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
<div class="radynForm">
    @using (Html.BeginForm())
    {
        Html.RenderAction("GetDetails", "Gallery", new { Id = ViewBag.Id, area = "Gallery" });
    }
</div>

